.orange{
    height: 100px;
    width: 450px;
    margin: 20px;
    background-color: #ff8d00;
}
.darkpink{
    height: 100px;
    width: 700px;
    margin: 20px;
    background-color: #740023;
}

.blue{
    height: 100px;
    background-color: #23e6ff;
}
.pink{
    height: 100px;
    background-color: #ff007b;
}

.left{
    height: 700px;
    width: 255px;
    background-color: yellow;
}

